In [1]:
from src.MergeMinutes import MergeMinutes

import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2

In [14]:
merge = MergeMinutes()
merge.merge_all_dataframes()
df = merge.handling_missing_values()
df

Merging all dataframes...
Reading and processing minute calories data...
Reading and processing minute intensities data...

                                                       Calories  Intensity
Id         DateTime            Month Day WeekDay Hour
1503960366 2016-03-12 00:00:00 3     12  5       0      0.79730          0
           2016-03-12 00:01:00 3     12  5       0      0.79730          0
           2016-03-12 00:02:00 3     12  5       0      0.79730          0
           2016-03-12 00:03:00 3     12  5       0      0.79730          0
           2016-03-12 00:04:00 3     12  5       0      0.79730          0
...                                                         ...        ...
8877689391 2016-05-12 13:55:00 5     12  3       13     1.33353          0
           2016-05-12 13:56:00 5     12  3       13     1.33353          0
           2016-05-12 13:57:00 5     12  3       13     1.33353          0
           2016-05-12 13:58:00 5     12  3       13     1.33353          0
           2016-05-12 13:59:00 5     12  3       13     1.33353          0

[2791620 rows x 2 columns]

In [19]:
df['Intensity'].isnull().sum()

0

In [78]:
df = df.set_index(['Id', 'ActivityMinute'])

In [79]:
df.resample('T').ffill()

ValueError: MultiIndex has no single backing array. Use 'MultiIndex.to_numpy()' to get a NumPy array of tuples.

In [59]:
index = pd.MultiIndex.from_arrays(['Id', 'ActivityMinute'])

df.set_index(index).resample('T').ffill()

TypeError: Input must be a list / sequence of array-likes.

In [44]:
result_df.ffill()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
ActivityMinute,,,,,,,,,,,,,,,
2016-03-12 00:00:00,8077525562,3/12/20163/12/2016,5543,3.97,3.97,0.0,0.00,0.0,3.96,0.01,0,0,254,2197,4767
2016-03-12 00:01:00,0,0,0,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0,0,0,0,0
2016-03-12 00:02:00,0,0,0,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0,0,0,0,0
2016-03-12 00:03:00,0,0,0,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0,0,0,0,0
2016-03-12 00:04:00,0,0,0,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-05-11 23:56:00,0,0,0,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0,0,0,0,0
2016-05-11 23:57:00,0,0,0,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0,0,0,0,0
2016-05-11 23:58:00,0,0,0,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0,0,0,0,0
2016-05-11 23:59:00,0,0,0,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0,0,0,0,0
2016-05-12 00:00:00,96074082090,5/12/20165/12/20165/12/20165/12/20165/12/20165...,73129,51.31,51.31,0.0,7.66,2.1,41.46,0.01,88,45,2075,13692,23925

In [49]:
import pandas as pd
# Sample dataframe with daily values
data = {
    'Date': pd.date_range(start='2024-01-01', end='2024-01-05', freq='D'),
    'Value': [10, 20, 15, 25, 30]
}
df = pd.DataFrame(data)
df.set_index('Date', inplace=True)

# Upsample to minute intervals
df_upsampled = df.resample('T').ffill()

df_upsampled

                     Value
Date
2024-01-01 00:00:00     10
2024-01-01 00:01:00     10
2024-01-01 00:02:00     10
2024-01-01 00:03:00     10
2024-01-01 00:04:00     10
...                    ...
2024-01-04 23:56:00     25
2024-01-04 23:57:00     25
2024-01-04 23:58:00     25
2024-01-04 23:59:00     25
2024-01-05 00:00:00     30

[5761 rows x 1 columns]